.edit-income-modal {
   h2 {
      margin-bottom: 1.875rem; /* 30px */
      color: $secondary;
   }
   .modal-form {
      width: 100%;
      .input-field {
         margin-bottom: 1.25rem; /* 20px */
         label {
            display: block;
            margin-bottom: 0.625rem; /* 10px */
            color: #171717;
            cursor: pointer;
         }
         input {
            width: 100%;
            padding: 1.25rem; /* 20px */
            font-size: 1rem; /* 16px */
            border: 1px solid #CECECE;
            border-radius: 5px;
            outline: none;
            transition: all .3s ease;
            &:focus { border-color: $secondary; }
         }
      }
      .btn-submit {
         width: 100%;
         padding: 0.9375rem; /* 15px */
         border: none;
         border-radius: 3px;
         color: #FFF;
         background: $secondary;
         cursor: pointer;
      }
   }
}